@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Karla;
    color: #222;
   
}

html{
    transform: scale(1);
    transform-origin:0%;
}


.logo{
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.btn{
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: 0px;
    font-weight: 600;
    font-size: 1.1rem;
    cursor:pointer;
    transition: 0.1s;
   
}

.btn:active{
    transform: scale(0.95);
}

.primary{
    border:2px solid #EBC503;
    background-color: #EBC503;
    color: #FFFFFF;
}

.primary:hover{
    box-shadow: 0px 0px 7px  #EBC503;
}

.secondary{
    border:2px solid #9f9fa0;
    background-color: #FFF;
    color: #474749;
}

.secondary:hover{
    box-shadow: 0px 0px 3px -1px #EBC503;
    color: #EBC503;
    border-color: #EBC503;
}

.icon{
    cursor:default;
    color:#8d8d8d;
}

.input{
    display: flex;
    background-color: #F5F7F9;
    padding: 1rem 2rem;    
    border-radius: 1rem;
    margin-top: 1rem;
    outline: none;
}

.none{
    display:none !important;
}

.invisible{
    visibility: hidden;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.click-icon:active{
    transform: scale(1.3);
    transition: 0.1s;
    user-select: none; 
}


/* Media Query para pantallas pequeñas (ej. móviles) */
